body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: none;
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
}

.button-visit {
    padding: 8px;
    font-size: 10px;
}

.cards-container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
}

.visit-card {
    border: 1px solid #D7D7D7;
    box-shadow: 0 3px 0 #D7D7D7;
    padding: 20px;
    min-height: 100px;
    width: 200px;
    margin: 20px;
    border-radius: 5px;
}

.visit-line__title {
    font-size: 14px;
    padding-left: 10px;
    color: #d1d1d6;
}

.visit-line__container {
    line-height: 20px;
    margin-bottom: 10px;
}

input {
    box-sizing: border-box;
    height: 23px;
    border: none;
    border-bottom: 1px solid #d1d1d6;
    width: 90%;
    margin-bottom: 5px;
    margin-left: 5%;
}

.card {
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    width: 200px;
    margin-bottom: 10px;
    box-shadow: 0 3px 0 #D7D7D7;
    padding: 16px;
}

.dragging {
    opacity: .6;
    cursor: move;
}

.cardTitle {
    font-size: 18px;
}

.cardStatus {
    font-size: 11px;
    color: #62A420;
}

.btn {
    cursor: pointer;
    outline: blueviolet;
    border: none;
    background: #0079B8;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 36px;
}

.btn:hover {
    background: #23668A;
}

.modal {
    align-items: center;
    position: fixed;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 260px gray;
    padding: 180px 111px 69px 111px;
    display: none;
    min-height: 661px;
    left: 50%;
    top: -1%;
    margin-top: -50px;
    width: 585px;
    transform: translate(-50%, 10%);
}

.form-container {
    position: fixed;
    top: 5%;
    left: 40%;
    background-color: #62A420;
    min-height: 100px;
    width: 300px;
    padding: 15px 20px;
    color: #fff;
}

.form__doctor-selection {
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
    margin: 7px 25px;

}

.submit {
    display: block;
    cursor: pointer;
    background-color: yellow;
    text-align: center;
    border-radius: 7px;
    margin: 10px auto;
}

.close {
    margin: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 18px;
    left: 7px;
    width: 24px;
    height: 1.5px;
    background: #3a4965;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.form-header {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
    margin: 0 0 102px 0;
}

.auth-form {
    width: 100%;
}

.auth-btn {
    background: #0079B8;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 120px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 36px;
    width: 100%;
}

.invalid {
    border-bottom: 2px solid red;
}

#email, #password, .filter__input {
    outline: none;
    border: none;
    border-bottom: 1px solid #9A9A9A;
    margin: 20px;
    width: 255px;
}

#error {
    color: red;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 54%;
    left: 22%;
}

::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.header {

}

.logo {
    width: 195px;
}

.filter {
    background-color: #FAFAFA;
    width: 1200px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.filter__input {
    outline: none;
    border: none;
    border-bottom: 1px solid #9A9A9A;
    margin: 20px;
    width: 220px;
    height: 40px;
}

button {
    cursor: pointer;
    margin: 5px;
    color: #868686;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #8a8a8a;
}

.filter__button {
    border-radius: 4px;
    padding: 5px 10px 5px;
    background-color: #62A420;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    align-self: center;
}

.filter__button:hover {
    cursor: pointer;
    background-color: #518819;
}

select {
    outline: none;
    border: none;
    border-bottom: 1px solid #9A9A9A;
    margin: 20px;
    width: 220px;
    height: 40px;
}

.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 80px;
    padding: 0 200px 0 20px;
    justify-content: space-between;
    background: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-btn:hover {
    background: #23668A;
}

.logo {
    height: 40px;
    width: 195px;
}


.hider {
    display: none;
}

.no-items-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 57px auto;
    background: #fafafa;
    color: #737373;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    height: 120px;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
}